<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer Tracker</title>
</head>
<body>
<a href = "logout">Logout</a>
<br><br>
<a href="/">All</a>
<a href="/?type=Ale">Ales</a>
<a href="/?type=Lager">Lagers</a>
<a href="/?type=Pilsner">Pilsners</a>
<a href="/?type=Stout">Stouts</a>
<a href="/?type=Other">Other</a>
<a href="/?showMine=true">My Beers</a>
<br><br>
<form action="/" method="get">
    <input type="text" placeholder="search" name="search">
    <button type="submit">Search</button>
</form>
<br><br>

<form action="add-beer" method="post">
    <input type="text" placeholder="Beer Name" name="beerName"/>
    <select name="beerType">
        <option value="Ale">Ale</option>
        <option value="Lager">Lager</option>
        <option value="Pilsner">Pils</option>
        <option value="Stout">stout</option>
        <option value="Other">Other</option>
    </select>
    <input type="number" placeholder="calories" name="beercalories">
    <button type="submit">submit</button>
</form>

{{#beers}}
  {{name}} -  {{type}} - {{calories}} by {{#user}} {{name}} {{/user}}
<br>
{{/beers}}

</body>
</html>